@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 30% 100%; /* 채도만 30% 증가 */
    --foreground: 0 30% 3.9%; /* 채도만 30% 증가 */

    --card: 0 30% 100%; /* 채도만 30% 증가 */
    --card-foreground: 0 30% 3.9%; /* 채도만 30% 증가 */

    --popover: 0 30% 100%; /* 채도만 30% 증가 */
    --popover-foreground: 0 30% 3.9%; /* 채도만 30% 증가 */

    --primary: 0 102.2% 50.6%; /* 채도만 30% 증가 */
    --primary-foreground: 0 115.7% 97.3%; /* 채도만 30% 증가 */

    --secondary: 0 30% 96.1%; /* 채도만 30% 증가 */
    --secondary-foreground: 0 30% 9%; /* 채도만 30% 증가 */

    --muted: 0 30% 96.1%; /* 채도만 30% 증가 */
    --muted-foreground: 0 30% 45.1%; /* 채도만 30% 증가 */

    --accent: 0 30% 96.1%; /* 채도만 30% 증가 */
    --accent-foreground: 0 30% 9%; /* 채도만 30% 증가 */

    --destructive: 0 114.2% 60.2%; /* 채도만 30% 증가 */
    --destructive-foreground: 0 30% 98%; /* 채도만 30% 증가 */

    --border: 0 30% 89.8%; /* 채도만 30% 증가 */
    --input: 0 30% 89.8%; /* 채도만 30% 증가 */
    --ring: 0 102.2% 50.6%; /* 채도만 30% 증가 */
    --radius: 1rem;
  }

  .dark {
    --background: 0 30% 3.9%; /* 채도만 30% 증가 */
    --foreground: 0 30% 98%; /* 채도만 30% 증가 */

    --card: 0 30% 3.9%; /* 채도만 30% 증가 */
    --card-foreground: 0 30% 98%; /* 채도만 30% 증가 */

    --popover: 0 30% 3.9%; /* 채도만 30% 증가 */
    --popover-foreground: 0 30% 98%; /* 채도만 30% 증가 */

    --primary: 0 102.2% 50.6%; /* 채도만 30% 증가 */
    --primary-foreground: 0 115.7% 97.3%; /* 채도만 30% 증가 */

    --secondary: 0 30% 14.9%; /* 채도만 30% 증가 */
    --secondary-foreground: 0 30% 98%; /* 채도만 30% 증가 */

    --muted: 0 30% 14.9%; /* 채도만 30% 증가 */
    --muted-foreground: 0 30% 63.9%; /* 채도만 30% 증가 */

    --accent: 0 30% 14.9%; /* 채도만 30% 증가 */
    --accent-foreground: 0 30% 98%; /* 채도만 30% 증가 */

    --destructive: 0 92.8% 30.6%; /* 채도만 30% 증가 */
    --destructive-foreground: 0 30% 98%; /* 채도만 30% 증가 */

    --border: 0 30% 14.9%; /* 채도만 30% 증가 */
    --input: 0 30% 14.9%; /* 채도만 30% 증가 */
    --ring: 0 102.2% 50.6%; /* 채도만 30% 증가 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* 웹킷 기반 브라우저에서 스크롤바 숨기기 */
.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}

/* Firefox에서 스크롤바 숨기기 */
.overflow-y-scroll {
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

/* IE 및 Edge에서 스크롤바 숨기기 */
.overflow-y-scroll {
  -ms-overflow-style: none; /* IE 및 Edge에서 스크롤바 숨기기 */
}
